*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

html, body {
    margin: 0;              /* Remove margens automáticas */
    padding: 0;             /* Remove preenchimento */
    width: 100%;            /* Garante que ocupe toda a largura */
    height: 100%;           /* Garante que ocupe toda a altura */
    overflow-x: hidden;     /* Remove barras de rolagem horizontais */
  }
  
  body {
    background-image: url('IMG/background.png');  
    background-repeat: no-repeat;
    background-size: cover; /* Preenche a tela inteira sem distorcer */
    background-position: center; 
    background-attachment: fixed;
  }
  
  

.container{
    background-color: rgb(0, 0, 0);
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.button-add-task{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(12, 173, 79);
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover{
    opacity: 0.8;
}

.button-add-task:active{
    opacity: 0.6;
}

.list-tasks{
    width: 100%;
    list-style: none;
    margin-top: 50px;
}

.task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img{
    opacity: 1;
}

.done{
    background-color: #8fac55;
    text-decoration: line-through;
}